.view-popup{
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 8px;
    z-index: 2;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    border-style: solid;
    border-color: #808080; /*grey*/
    background-color: white;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    overflow: hidden; /* Hide scrollbars */
    z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
}

td, th {
    text-align: center;
}

#selection-span{
    margin: auto; 
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#chart-div{
    margin: auto; width: 1000px; height: 600px;
}

footer{
    border-top-style: solid;
    border-color: #808080; /*grey*/

    margin: auto;
    padding: 16px;

    text-align: center;
    font-style: italic;
    font-size: 12px;
}